datalist {
	display: flex;
	justify-content: space-between;
}
.useRange {
	width: 68vw;
	left: 10vw;
	float: left;
	background-color: blue;
	margin: 0px;
	position: absolute;
}
.slider {
	margin-bottom: 0.6em;
	min-height: 1.1rem;
}
.exactLabel {
    float: right;
    text-align: left;
    margin-right: 0px;
    margin-left: calc(90vw + 9px);
    position: absolute;
    top: 0.1em;
}
label {
	width: 10vw;
	margin-right: 90vw;
	float: left;
	text-align: center;
	
}
meter {
	border-radius: 3% / 50%;
	width: 80vw;
	height: 5vh;
	position: absolute;
	float: right;
	left: 10vw;
}
body {
	margin: 0px;
}
/*
#content {
	display: none;
}
*/

.exactGroup {
    float: right;
    position: absolute;
}
.exactData {
    float: right;
    max-width: 10vw;
    margin-right: 10vw;
    margin-left: 80vw;
    position: absolute;
    top: 0.1em;
}
@keyframes fadeAway {
	from {
		opacity: 100%;
	}
	to {
		opacity: 0%;
	}
}
#intro {
	animation-duration: 700ms;
	display: none;
}
* {
	background-color: aliceblue;
	text-align: center;
}
.meterBackground {
	padding-top: 0.75vh;
	height: 5vh;
}
.temperatureLabel {
	position: relative;
	margin-right: 0px;
	font-size: 1.8em;
	top: calc(2.5vh - 1em);
}
.temperatureLabel:first-child {
	float: left;
}
.temperatureLabel:last-child {
	float: right;
}


